@import '../../global_styles/vars';

.GameCell {
    width: 56px;
    height: 56px;
    background-color: $game_button_neutral;
    border: 2px solid $border_neutral;
    margin-right: 5px;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
