@import '@/shared/global_styles/vars';

.keyButton {
    flex: 1;
    min-width: 0;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: $bg_simple_color;
    font-weight: 600;
    padding: 16px 0;
    transition: background-color 0.5s ease-in-out;
    text-transform: uppercase;
    &:hover {
        background-color: $bg_canceled_color;
    }

    img {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto;
    }
}

.wide {
    flex: 1.5;
}

.reveal {
    background-color: var(--tile-reveal-bg);
}

.revealed {
    background-color: var(--tile-reveal-bg);
}

.correctPosition {
    --tile-reveal-bg: #{$correctPosition};
}

.elseWherePosition {
    --tile-reveal-bg: #{$elseWherePosition};
}

.unCorrectLetter {
    --tile-reveal-bg: #{$un_correctLetter};
}
