$bg_simple_color: #dce1ed;
$bg_canceled_color: #a4aec4;
$bg_true_color: #79b851;
$bg_incorrect-place_color: #f3c237;
$text_color: #414a5e;
$header_text: #ebedf3;
$game_button_neutral: #fbfcff;
$border_neutral: #dee1e9;
$clue_bg: #e5ecff;
$selected_button: #6bba6b;