@import '../../../shared/global_styles/vars';

.settings {
    &Inner {
        text-align: center;
        font-weight: 700;
    }
    &Button {
        width: 40px;
        height: 50px;
        margin-right: 7px;
        font-size: 16px;
        line-height: 32px;
        padding: 0 10px;
        background-color: $bg_simple_color;
        border: none;
        border-radius: 5px;
        transition: all 0.3s;
    }
}

.settingsButtonSelected {
    transition: all 0.3s;
    font-weight: 700;
    width: 40px;
    height: 50px;
    margin-right: 7px;
    font-size: 16px;
    line-height: 32px;
    padding: 0 10px;
    background-color: $selected_button;
    border: none;
    border-radius: 5px;
    color: white;
}
